#mainDiv{
    width: 350px;
  height: 350px;
  border: 1px solid #aaaaaa;
  margin: 0;
  }
#mydiv {
  position: absolute;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  width: 70px;
  height: 70px;
  border: 1px ;
  background-color:  black;
}